extends layout.pug

block content
	link(rel='stylesheet', href='/stylesheets/api.css')
	script
	#api_container
		#logoImp_container
			img#logo(src=`${api.logo_url}`, alt=`${api.name}`)
			if locals.authenticated
				form#update_implementation(
					action='/implementations/update',
					method='post'
				)
					input(type='hidden', name='_csrf', value=csrfToken)
					input(type='hidden', name='old_toolbox', value=toolboxInfo.toolboxId)
					input(name='api_id', value=`${api.id}`, type='hidden')
					if toolboxInfo.inToolbox
						label(for='toolbox_selection') Current Toolbox:
						#toolbox_div= toolboxInfo.toolboxName
					else
						label(for='toolbox_selection') Current Toolbox:
						#toolbox_div None
					select#toolbox_selection(name='toolbox_id')
						each box in toolboxes
							option(
								value=`${box.id}_${box.name}`,
								id=box.name,
								selected=box.id === toolboxInfo.toolboxId
							)= box.name
					if toolboxInfo.inToolbox
						button#addToolbox Update Toolbox
					else
						button#addToolbox Add to Toolbox

		#api_main
			h1#api_name= api.name
			#api_info
				if avgRating > 0
					div Average Rating: #{ avgRating }
				else
					div Average Rating: No Rating
				div Category: #{ api.Tag.name }
				if api.free
					div Free to Use
				else
					div Paid
				div: a#ext_website(href=`${api.website}`, target='_blank') Website
			#description= api.description
	#review_container
		h2 Reviews
		if locals.authenticated
			#add_review: a(href=`/apis/${api.id}/create_review`) Add a Review
		each review in reviews
			.user_review(id=`review_${review.id}`)
				.top_row
					p
						span.user_name #{ review.User.first_name } #{ review.User.last_name }
						span rated it a
						span.user_rating= review.rating
					if review.User.id === user_id
						.add_edit_buttons
							.edit_buttons: a(href=`/reviews/${review.id}/update`) Edit
							.delete_buttons(id=`${api.id}_deletereview_${review.id}`) Delete
				p.review_text= review.review
		else
			p#no_reviews No reviews yet
	script(src='/javascripts/api.js', type='module', defer)
