extends layout.pug

block content
    link(rel='stylesheet' href='/stylesheets/api.css')
    div(id="api_container")
        div(id="logoImp_container")
            img(src=`${api.logo_url}` alt=`${api.name}`)
            if locals.authenticated
                form(action="/implementation" method="post")
                    input(name="api_id" value=`${api.id}` type="hidden")
                    label(for="toolbox_selection") Add to Toolbox
                    select(name="toolboxChoice" id="toolbox_selection")
                        each box in toolboxes
                            option(value=box.id)=box.name
                    button Add to Toolbox
        div(id="api_main")
            h3= api.name
            div(id="api_info")
                div Average Rating #{avgRating}
                div Category #{api.Tag.name}
                if api.free
                    div Free to Use
                else
                    div Paid
                a(href=`${api.website}`) Wesbite
            div= api.description
