extends layout

include utils

block content
    link(rel='stylesheet' href='/stylesheets/reviews.css')
    h1(id="title")= `Edit Your Review for ${editedReview.Api.name}`
    +validationErrorSummary(errors)
    form(action=`/reviews/${editedReview.id}/update` method='post' id="reviews")
        input(type="hidden" name="_csrf" value=csrfToken)
        input(type="hidden" name="api_id" value=editedReview.Api.id)
        fieldset(name="ratings" id="rate")
            legend(name="rating" id="yourRating") Your Rating
            input(type="radio" id="rating1" name="rating" value="1" checked=(editedReview.rating === "1.0"))
            input(type="radio" id="rating2" name="rating" value="2" checked=(editedReview.rating === "2.0"))
            input(type="radio" id="rating3" name="rating" value="3" checked=(editedReview.rating === "3.0"))
            input(type="radio" id="rating4" name="rating" value="4" checked=(editedReview.rating === "4.0"))
            input(type="radio" id="rating5" name="rating" value="5" checked=(editedReview.rating === "5.0"))
        fieldset(name="review" id="textReview")
            legend(name="text" id="yourReview") Your Review
            textarea(name="review", cols="70", rows="20" id="reviewArea" value=editedReview.review)= editedReview.review
        button(type="submit" id="submit") Confirm Edit
