extends layout

include utils

block content
	link(rel='stylesheet', href='/stylesheets/reviews.css')
	h1#title= `Edit Your Review for ${editedReview.Api.name}`
	+validationErrorSummary(errors)
	form#reviews(action=`/reviews/${editedReview.id}/update`, method='post')
		input(type='hidden', name='_csrf', value=csrfToken)
		input(type='hidden', name='api_id', value=editedReview.Api.id)
		fieldset#rate(name='ratings')
			legend#yourRating(name='rating') Rating
			#numbers
				label.number(for='rating1') 1
				label.number(for='rating2') 2
				label.number(for='rating3') 3
				label.number(for='rating4') 4
				label.number(for='rating5') 5
			#buttons
				input#rating1(
					type='radio',
					name='rating',
					value='1',
					checked=editedReview.rating === "1.0"
				)
				input#rating2(
					type='radio',
					name='rating',
					value='2',
					checked=editedReview.rating === "2.0"
				)
				input#rating3(
					type='radio',
					name='rating',
					value='3',
					checked=editedReview.rating === "3.0"
				)
				input#rating4(
					type='radio',
					name='rating',
					value='4',
					checked=editedReview.rating === "4.0"
				)
				input#rating5(
					type='radio',
					name='rating',
					value='5',
					checked=editedReview.rating === "5.0"
				)
		fieldset#textReview(name='review')
			legend#yourReview(name='text') Review
			textarea#reviewArea(
				name='review',
				cols='70',
				rows='20',
				value=editedReview.review
			)= editedReview.review
		button#submitReview(type='submit') Confirm Edit
