extends layout

include utils

block head
	title= title
	link(rel='stylesheet', href='/stylesheets/home.css')
	link(rel='stylesheet', href='/stylesheets/toolbox_card.css')
	link(rel='stylesheet', href='/stylesheets/index.css')
	link(rel='stylesheet', href='/stylesheets/toolboxes.css')

block content
	div
		h1#my_toolboxes My Toolboxes
		#myToolboxes_container
			main.page_style
				.tbc_ctrl_group
					p.tbc_head: a#tbc_head_title(href='/toolboxes') My Toolboxes
					+toolbox_card
				div#toolbox_list_container
					each toolbox in toolboxes
						div(id=`toolbox_header_${toolbox.id}`)
							div.toolbox_header
								h2= toolbox.name
								if !default_toolboxes.includes(toolbox.id)
									div.crud_buttons(name=toolbox.name)
										button(type="button" class="toolbox_delete_button" id=`delete_toolbox_submit_${toolbox.id}` value=toolbox.id name=toolbox.name) Delete Toolbox
							.api_cards
								if toolbox.Apis.length > 0
									each api in toolbox.Apis
										div(class="card_container" id=`api_${api.id}toolbox`)
											+api_card_concat(api, toolbox)
								else
									p No APIs in Toolbox
	script(src="/javascripts/implementations.js" type="module" defer)
	script(src="/javascripts/toolbox_frontend.js" type="module" defer)
