extends layout.pug

block content
    body

        h2 My Toolboxes

        main
            section
                ul
                    li
                        a(href="") All

                    each toolbox in Toolboxes
                    li
                        a(href="")= toolbox.name
                div
                    form
                        button(type="submit" action="/create-toolbox" method="get")
            section
                table
                    thead
                        th Name
                        th Rating
                        th Category
                        th Free?
                        th API Website

                    tbody
                        each api in toolbox.Apis
                            td
                                img(src=`${api.logo_url}` alt=`${api.name}`)
                            td= api.name
                            td= api.rating
                            td= api.free
                            td= api.description
                if 
                div
                    form
                        button(type="submit" action="/users/:toolboxId" method="delete") Delete Toolbox
