mixin validationErrorSummary(errors)
	if errors
		.alert.alert-danger(role='alert')
			p The following error(s) occurred:
			ul
				each error in errors
					li= error

mixin field(labelText, fieldName, fieldValue, fieldType = 'text', required)
	.form-group
		label(for=fieldName)= labelText
		input.form-ctrl(
			type=fieldType,
			required,
			id=fieldName,
			name=fieldName,
			value=fieldValue
		)

mixin toolbox_card()
	each toolbox in toolboxes
		div: a(href="") #{toolbox.name}
