mixin validationErrorSummary(errors)
	if errors
		.alert.alert-danger(role='alert')
			p The following error(s) occurred:
			ul
				each error in errors
					li= error

mixin field(labelText, fieldName, fieldValue, fieldType = 'text', required)
	.form-group
		label(for=fieldName)= labelText
		input.form-ctrl(
			type=fieldType,
			required,
			id=fieldName,
			name=fieldName,
			value=fieldValue
		)

mixin toolbox_card
	each toolbox in toolboxes
		.tbc_ctrl: a(href=`/users/${toolbox.id}`) #{toolbox.name}

mixin api_card(api, toolboxes)
	div
		a(href=`/apis/${api.id}`)
			div.logo_container
				img(src=`${api.logo_url}` alt=`${api.name}`).logo_img
		section
			a(href=`/apis/${api.id}`)
				h2= api.name
			span Implement this API
			select
				each toolbox in toolboxes
					option(value=toolbox.id)= toolbox.name
		section
			p= api.description

mixin api_card_concat(api, toolboxes)
	div
		div(id="logoImp_container")
			img(id="logo" src=`${api.logo_url}` alt=`${api.name}`)
		a(href=`/apis/${api.id}`)
			h2(id="api_name")= api.name
		div Category: #{api.Tag.name}
		if api.free
			div Free to Use
		else
			div Paid
		div: a(id="ext_website" href=`${api.website}` target="_blank") Website
