mixin validationErrorSummary(errors)
	if errors
		.alert.alert-danger(role='alert')
			p The following error(s) occurred:
			ul
				each error in errors
					li= error

mixin field(labelText, fieldName, fieldValue, fieldType = 'text', required)
	.form-group
		label(for=fieldName)= labelText
		input.form-ctrl(
			type=fieldType,
			required,
			id=fieldName,
			name=fieldName,
			value=fieldValue
		)

mixin toolbox_card
	each toolbox in toolboxes
		.tbc_ctrl(id=`toolbox_delete_${toolbox.id}`): a#tbc_link(href=`/toolboxes/${toolbox.id}`) #{ toolbox.name }
	.tbc_ctrl: a#tbc_link(href='/toolboxes/create-toolbox') Create a Toolbox

mixin api_card(api, toolboxes)
	div
		.api_card_top
			span.card_logo_container
				a(href=`/apis/${api.id}`)
					img.card_logo_img(src=`${api.logo_url}`, alt=`${api.name}`)
			span.api_card_content
				a(href=`/apis/${api.id}`)
					h2= api.name
				.api_card_text Category: #{ api.Tag.name }
					if api.free
						.api_card_text Free to Use
					else
						.api_card_text Paid
					div: a#ext_website(href=`${api.website}`, target='_blank') Website
		section.api_description
			p.api_card_text= api.description

mixin api_card_concat(api, toolboxes)
	div
		div(class="api_card_top")
			span.card_logo_container
				a(href=`/apis/${api.id}`)
					img.card_logo_img(src=`${api.logo_url}`, alt=`${api.name}`)
			span.api_card_content
				h2= api.name
				.api_card_text Category: #{ api.Tag.name }
					if api.free
						.api_card_text Free to Use
					else
						.api_card_text Paid
					div: a#ext_website(href=`${api.website}`, target='_blank') Website
					div(class="delete_imp_status" id=`api_${api.id}_toolbox_${toolboxes.id}`) Remove from
						span(class="removeToolboxButton")=toolboxes.name
